 <div id="project_<%= project.id %>" class="pb-4">
    <div class="row p-3 mb bg-primary text-white">
      <div class="col-1 themed-grid-col" ><i class="fa fa-calendar text-white-50" aria-hidden="true"></i></div>
      <div class="col-9 themed-grid-col js-project-<%= project.id %>"><b><h3><%= project.name %></h3></b></div>
      <div class="col-2 themed-grid-col text-center text-white-50">
        <%= link_to edit_project_path(project), remote: true do %>
          <i class="fas fa-edit text-white-50"></i>
        <% end %>|
        <%= link_to project, remote: true, method: :delete, data: { confirm: 'Are you sure?' } do %>
          <i class="fa fa-trash text-white-50"></i>
        <% end %>
      </div>
    </div>
    <div class="row p-2 mb bg-secondary text-white">
      <div class="col-1 themed-grid-col"><i class="fa fa-plus fa-2x text-success" aria-hidden="true"></i></div>
      <div class="col-11 themed-grid-col">
        <%= form_with model: Task.new, class:'form-inline', remote: true do |form| %>
          <%= form.hidden_field :project_id, value: project.id %>
          <%= form.text_field :name, class:'js-task-name col-md-10', placeholder:'Please enter the name of your task' %>
          <%= form.submit 'Add task', class:'btn btn-success col-md-2 btn-sm' %>
        <% end %>
      </div>
    </div>
    <div class="shadow-lg rounded" data-controller="drag" data-drag-url="/tasks/:id/move">
      <% project.tasks.order(position: :asc).each do |task| %>
        <%= render('tasks/task', task: task) %>
      <% end %>
    </div>
  </div>
